@import url("https://fonts.googleapis.com/css2?family=Kufam&family=PT+Serif+Caption&display=swap");
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Kufam", cursive;
  font-size: 16px;
  color: black;
}

#landing-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

#landing-container > * {
  flex: 1 100%;
}

#header-img {
  width: 80px;
}

#nav-bar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}

.nav-right {
  text-align: center;
  margin: 0;
  padding: 0;
}

.li-nav {
  display: inline;
  padding: 15px;
  line-height: 3;
}

nav ul li a {
  color: black;
}

#main-container {
  display: flex;
  justify-content: center;
  height: 45em;
}

.row-txt,
#woman-img {
  width: 400px;
  height: 300px;
}

.row-txt {
  padding-top: 70px;
  margin-right: 90px;
  text-align: left;
}

h2 {
  font-size: 48px;
}

.service-grey {
  background-color: #f7f9fb;
}

#service-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#flex {
  height: 300px;
  width: 250px;
  margin: 25px;
  text-align: center;
}

#flex:hover {
  background-color: #f0f2f4;
  transition: all 200ms ease-out;
}

#flex-price {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.price-grey {
  background-color: #f7f9fb;
  padding-bottom: 50px;
}

#main-vid {
  margin: 50px;
}

#price {
  width: 500px;
  height: 350px;
  margin: 30px;
  box-shadow: 1px 2px 8px black;
  text-align: center;
}

.price-a {
  background-color: #dfe7ff;
}

.price-b {
  background-color: #f4ffe8;
}

table {
  margin-left: auto;
  margin-right: auto;
  line-height: 2em;
  width: 50%;
}

input {
  padding: 13px 40px;
}

button {
  padding: 13px 30px;
  border: 2px solid #525fe6;
  background-color: #525fe6;
  color: #f0f2f4;
  cursor: pointer;
  transition: all 200ms ease-out;
}
button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

button a:hover {
  text-decoration: none;
  color: #525fe6;
  font-weight: bold;
}

button:hover {
  border: 2px solid #525fe6;
  background-color: transparent;
  color: #525fe6;
}

footer {
  margin: 24px;
}

/*RESPONSIVE*/
@media only screen and (max-width: 920px) {
  #landing-container {
    width: 100%;
    display: flex;
  }

  #main-container,
  #service-container,
  #flex-price {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  #woman-img {
    max-width: 100%;
    height: auto;
  }
}
